.grid-item {
    
    color: white;
    text-align: center;
  }
  
  .grid-item .remove {
    cursor: pointer;
    color: #e74c3c;
    position: absolute;
    top: 5px;
    right: 5px;
  }

  td {
    padding: 0;
    margin: 0;
    border: none;
  }

  .tv-lightweight-charts {
    overflow: hidden;
    padding: 0;
    margin: 0;
  }