/* TopTickers.css */
.ticker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.33rem;
  box-sizing: border-box;
}

.ticker-title-container {
  width: 100%;
  text-align: center;
  margin-bottom: 0.5rem;
}

.ticker-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  transition: color 0.3s ease;
}

.ticker-title:hover {
  color: #00ff00;
}

.ticker-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #1a202c;
  padding: 1rem;
  border-radius: 0.375rem;
  width: 100%; /* Full width */
  height: 2rem; /* Fixed height */
  box-sizing: border-box;
  overflow: visible; /* Temporarily visible to check if the tickers are overflowing */
}

.ticker-wrapper {
  display: flex;
  white-space: nowrap;
  animation: ticker-scroll 20s linear infinite;
  padding-left: 10px;
}

.ticker-item {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  font-size: 1rem;
  color: #fff; /* Ensure text is visible */
}

@keyframes ticker-scroll {
  0% {
    transform: translateX(100%); /* Start at the right edge */
  }
  100% {
    transform: translateX(-100%); /* Move to the left edge */
  }
}
