/* dashboard.css */
.dashboard, .main-content {
  display: flex;
  flex-grow: 1;
  height: 100vh; /* Take full viewport height */
  width: 100%; /* Take full width */
  flex-direction: column; /* Stack top ticker and grid layout vertically */
  overflow: auto;
}

.widget {
  background-color: #2d3748;
  padding: 15px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Shadow for better separation */
  display: flex;
  flex-direction: column;
  height: 100%; /* Full height for each widget */
  width: 100%; /* Ensure the widgets take the full width of the grid */
}
.Gains-losses-widget {
  background-color: #2d3748;
  padding: 15px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Shadow for better separation */
  display: flex;
  flex-direction: column;
  height: 100%; /* Full height for each widget */
  width: 100%; /* Ensure the widgets take the full width of the grid */
}

.layout {
  display: flex;
  flex-grow: 1;
  padding: 20px;
  height: 100%;
  width: 100%;
}

.top-ticker-widget {
  width: 100%;
  padding: 10px;
  background-color: #2d3748;
  margin-bottom: 10px;
  box-sizing: border-box;
}
