/* dashboard.css */
.dashboard, .main-content {
  display: flex;
  flex-grow: 1;
  height: 100vh; /* Take full viewport height */
  width: 100%; /* Take full width */
  flex-direction: column; /* Stack top ticker and grid layout vertically */
  overflow: auto;
}

.widget {
  display: flex;
  flex-direction: column;
  height: 100%; /* Make the widget fill the height of the grid row */
}

.widget-content {
  flex-grow: 1; /* Make the content inside the widget grow to fill available space */
  overflow: auto; /* Handle overflow if content exceeds the height */
}

.Gains-losses-widget {
  background-color: #2d3748;
  padding: 15px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Shadow for better separation */
  display: flex;
  flex-direction: column;
  height: 100%; /* Full height for each widget */
  width: 100%; /* Ensure the widgets take the full width of the grid */
}

.layout {
  display: flex;
  flex-grow: 1;
  padding: 20px;
  height: 100%;
  width: 100%;
}

.top-ticker-widget {
  width: 100%;
  padding: 10px;
  background-color: #2d3748;
  margin-bottom: 10px;
  box-sizing: border-box;
}


/* CSS styling for the Lock/ unlock button */ 
.lock-button {
  position: fixed; /* Keep the button fixed on the screen */
  top: 80px;       /* Adjust this for vertical alignment */
  left: 80px;      /* Adjust this value for when sidebar is closed */
  z-index: 1000;   /* Ensure it's always visible */
  transition: left 0.3s ease; /* Smooth transition when the sidebar opens/closes */
}

.sidebar-open .lock-button {
  left: 260px;     /* Move the button when the sidebar is open (adjust as per your layout) */
}

.lock-button svg {
  width: 24px;
  height: 24px;
}

.lock-button span {
  display: none;  /* Hide the text */
}