.chart-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0; /* No padding to prevent crosshair offset issues */
  box-sizing: border-box;
}

.chart-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0.5rem;
  transition: color 0.3s ease;
  text-align: center;
  display: block;
  width: 100%;
}
.chart-title:hover {
  color: #00ff00;
}

.timeframes-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.timeframe-button {
  padding: 0.3rem 0.6rem;
  margin-right: 0.4rem;
  border-radius: 0.25rem;
  background-color: #4a5568;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.2s;
}

.timeframe-button.active {
  background-color: #3182ce;
}

.timeframe-button:hover {
  background-color: #2b6cb0;
}

.chart-type-toggle {
  margin-bottom: 1rem;
  display: flex;
}

.toggle-button {
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  background-color: #4a5568;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.2s;
}

.toggle-button.active {
  background-color: #3182ce;
}

.toggle-button:hover {
  background-color: #2b6cb0;
}

/* Crosshair styling */
.graph-area {
  position: relative;
  width: 100%;
  height: auto; /* Let the content dictate the height */
  margin-bottom: 1rem;
}

.chartjs-crosshair {
  position: absolute;
  pointer-events: none;
  border-color: white !important;
  border-width: 1px !important;
  border-style: dashed !important;
  z-index: 10;
}

.chartjs-crosshair.horizontal {
  height: 1px;
  width: 100%;
}

.chartjs-crosshair.vertical {
  width: 1px;
  height: 100%;
}