.chart-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.chart-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0.5rem;
  transition: color 0.3s ease;
  text-align: center; /* Center the title itself */
  display: block; /* Ensure it behaves like a block element */
  width: 100%; /* Occupy full width to center itself */
}
.chart-title:hover {
  color: #00ff00; /* Change to green on hover */
}


.timeframes-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.timeframe-button {
  padding: 0.3rem 0.6rem;
  margin-right: 0.4rem;
  border-radius: 0.25rem;
  background-color: #4a5568;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.2s;
}

.timeframe-button.active {
  background-color: #3182ce;
}

.timeframe-button:hover {
  background-color: #2b6cb0;
}

.chart-type-toggle {
  margin-bottom: 1rem;
  display: flex;
}

.toggle-button {
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  background-color: #4a5568;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.2s;
}

.toggle-button.active {
  background-color: #3182ce;
}

.toggle-button:hover {
  background-color: #2b6cb0;
}

/* Crosshair styling */
.chartjs-crosshair {
  border-color: white !important;
  border-width: 1px !important;
  border-style: dashed !important;
}
