:root {
    --c-border: #9F2042;
    --c-background: #E3E4DB;
    --c-text: #441151;
  }
  
  body {
    font-family: 'Alice', Helvetica, sans-serif;
  }
  
  .menu-button {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 1000;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: var(--c-background);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 999;
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .sidebar .close-button {
    position: absolute;
    top: 10px;
    right: 20px;
  }
  
  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.25rem;
    color: var(--c-text);
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: var(--c-border);
  }
  
  .sparkle {
    max-width: 10em;
    color: var(--c-text);
    &:hover {
      cursor: pointer;
    }
  }
  
  .u-hover--sparkle {
    box-sizing: border-box;
    position: relative;
    padding: 0.75em;
  }
  
  .u-hover--sparkle::before,
  .u-hover--sparkle::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
  }
  
  .u-hover--sparkle::before {
    border-top: 0.2em solid var(--c-border);
    border-bottom: 0.2em solid var(--c-border);
    transform: scale3d(0, 1, 1);
  }
  
  .u-hover--sparkle::after {
    border-left: 0.2em solid var(--c-border);
    border-right: 0.2em solid var(--c-border);
    transform: scale3d(1, 0, 1);
  }
  
  .u-hover--sparkle:hover::before,
  .u-hover--sparkle:hover::after {
    transform: scale3d(1, 1, 1);
    transition: transform 900ms;
  }
  