.chart-container {
  width: 100%; /* Full width of parent */
  height: 100%; /* Full height of parent */
  background-color: #0d0d1b; /* Ensure this matches your desired color */
  padding: 0; /* Remove any extra padding */
  margin: 0; /* Remove any extra margin */
  box-sizing: border-box; /* Ensure padding doesn't affect size */
}


.chart-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  display: flex;
  align-items: center;
  pointer-events: all; /* Ensures that the chart remains interactive */
}
.timeframes-container {
  display: flex;
  margin-right: 15px;
}

.timeframe-button {
  padding: 0.4rem 0.8rem;
  margin-right: 0.3rem;
  border-radius: 0.25rem;
  background-color: #4a5568;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
}

.timeframe-button.active {
  background-color: #3182ce;
}

.chart-type-container {
  display: flex;
  margin-left: 15px;
}

.chart-type-button {
  padding: 0.4rem 0.8rem;
  border-radius: 0.25rem;
  background-color: #4a5568;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  pointer-events: all;
  align-items: right;
}

.ticker-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: lightblue;
  text-align: center;
  padding-right: 16px;
}

.tv-lightweight-charts {
  width: 100%; /* Ensure the chart fills the container */
  height: 100%; /* Ensure the chart fills the container */
}