.chart-container {
  width: 100%; /* Full width of parent */
  height: 100%; /* Full height of parent */
  background-color: #0d0d1b; /* Ensure this matches your desired color */
  padding: 0; /* Remove any extra padding */
  margin: 0; /* Remove any extra margin */
  box-sizing: border-box; /* Ensure padding doesn't affect size */
}


.chart-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  display: flex;
  align-items: center;
  pointer-events: none; /* Ensures that the chart remains interactive */
}

.timeframes-container {
  display: flex;
  margin-right: 15px;
  pointer-events: all; /* Enables interaction with buttons */
}

.timeframe-button {
  padding: 0.2rem 0.4rem;
  margin-right: 0.3rem;
  border-radius: 0.25rem;
  background-color: #4a5568;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
}

.timeframe-button.active {
  background-color: #3182ce;
}

.ticker-title {
  font-size: 1rem;
  color: #ffffff;
  /*margin-left: 10px;*/
  text-align: right;
}
