/* Ensure the chart stretches to fill the available space */
.chart-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%; /* Full width across the screen */
    margin: 0 auto;
    padding: 20px 0;
}

.chart-container {
    width: 99%;
    height: 550px; /* Adjust height as needed */
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Optional shadow */
}

.chart-legend {
    position: absolute;
    left: 15px;
    bottom: 10px;
    z-index: 1;
    font-size: 14px;
    font-family: sans-serif;
    line-height: 18px;
    font-weight: 300;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 8px;
    border-radius: 5px;
}
