#container {
    width: 100%;
    height: 400px;
    overflow-x: auto;  /* Make the container scrollable horizontally */
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
