/* Main page container */
.sectors-page {
    padding: 20px;
    background-color: #1e1e1e;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative; /* So the legend can be positioned absolutely relative to this container */
    width: 100%;
}
/* Header styling */
h1 {
    font-size: 28px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.legend-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999; /* Ensure it's on top */
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* Ticker checkboxes container */
.ticker-checkboxes {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 80%;
}

.ticker-checkboxes label {
    font-size: 14px;
    color: white;
}

/* Time interval buttons */
.interval-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.interval-buttons button {
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.interval-buttons button:hover {
    background-color: #555; /* Lighter on hover */
}
