/* Ensure the chart stretches to fill the available space */
.chart-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%; /* Full width across the screen */
    margin: 0 auto;
    padding: 20px 0;
}

.chart-container {
    width: 99%;
    height: 550px; /* Adjust height as needed */
   /* background-color: #1e1e1e; */
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Optional shadow */
}
.chart-legend {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column; /* Stack the labels vertically */
    gap: 4px; /* Add space between each label */
    z-index: 10;
}

.legend-box {
    background-color: rgba(0, 0, 0, 0.8); /* Dark background with transparency */
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    color: white;
}
