body, .main-container, .dashboard {
  background-color: #0d0d1b; /* Ensure this matches your desired color */
  color: #000; /* Optional: set the text color to white */
  overflow: auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow: auto;
  transition: none;
  width: 100%; /* Ensure full width for the content */
  background-color: #0d0d1b;
}

.sidebar-open .main-content {
  width: calc(100% - 250px);
  margin-left: 250px;
}

.sidebar-closed .main-content {
  width: calc(100% - 60px);
  margin-left: 60px;
}

.navbar {
  height: 60px;
  background-color: #1f2937;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Stretch the container to fill the width */
  justify-content: flex-start;
  overflow: auto;
  transition: none;
  width: 100%; /* Ensure the content container takes full width */
  border: 2px solid;
  border-color: azure;
}

.sidebar-open .content-container {
  width: calc(100% - 250px); /* Adjust width for when the sidebar is open */
  margin-left: 250px;
}

.sidebar-closed .content-container {
  width: calc(100% - 60px); /* Adjust width for when the sidebar is closed */
  margin-left: 60px;
}

.no-sidebar .content-container {
  width: 100%; /* Full width when there is no sidebar */
  margin-left: 0;
}

/* Global CSS file (e.g., App.css or index.css) */
td {
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

table {
  border-spacing: 0 !important;
  border-collapse: collapse !important;
}
.specific-component td {
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

.specific-component table {
  border-spacing: 0 !important;
  border-collapse: collapse !important;
}