.positions-container {
  width: 100%;
  max-width: 100%; /* Ensure it's not too wide */
  padding: 20px;
  box-sizing: border-box;
  background-color: #0d0d1b; /* Match the dark background */
  color: white; /* White text for visibility */
  border-radius: 8px; /* Rounded corners */
  background-color: #0d0d1b;
  padding: 10px;
  border-radius: 10px;
  
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.positions-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem; /* Space below title */
}

.positions-header, .positions-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* Add spacing between items */
}

.header-item, .item-symbol, .item-input, .item-price, .item-total {
  width: 20%; /* Ensure all columns align properly */
  text-align: center;
}

.item-symbol {
  cursor: pointer;
  color: lightblue;
}

.item-remove {
  color: red;
  cursor: pointer;
  margin-right: 8px;
}

.item-input {
  background-color: rgba(31, 41, 55, 0.7); /* Transparent background */
  color: white; /* White text for visibility */
  padding: 0.5rem;
  border-radius: 0.375rem;
  text-align: center;
  border: none; /* Remove border */
}

.item-total.positive {
  color: #10b981; /* Green for positive values */
}

.item-total.negative {
  color: #ef4444; /* Red for negative values */
}

.total-value {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.1rem;
}

.total-value-amount {
  margin-left: 10px;
  color: #10b981; /* Green color for the total value */
}

.add-ticker {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.ticker-input {
  width: 200px;
  padding: 8px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #374151; /* Example border color */
  background-color: rgba(31, 41, 55, 0.7); /* Transparent background */
  color: white; /* White text color */
}

.add-ticker-button {
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #10b981; /* Green background */
  color: white;
  border: none;
  cursor: pointer;
}

.add-ticker-button:hover {
  background-color: #059669; /* Darker green on hover */
}

.save-button {
  width: 100%;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.375rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #4caf50; /* Green color */
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.save-button:hover {
  background-color: #45a049; /* Darker green */
}
